/* 顶部导航 */
.topnav {

  height: 40px;
  background-color: #333333;
}

/* 顶部导航左边 */
.topnav-left {

  float: left;
  line-height: 40px;
}

.topnav-left a {

  float: left;
  color: #b0b0b0;
  margin: 0 6px;
}

.topnav-left a:first-child {

  margin-left: 0;
}

.topnav-left span {

  float: left;
  color: #424242;
}

/* 导航栏右侧 */
.topnav-right {

  float: right;
}

.topnav-right a,
.topnav-right span {

  float: left;
  line-height: 40px;
  margin: 0 3px;
}

.topnav-right a {

  color: #b0b0b0;
}

.topnav-right span {

  color: #424242;
}

.topnav-right a:last-child {

  position: relative;
  display: block;
  width: 120px;
  height: 40px;
  background-color: #424242;
  text-align: center;
}

.topnav-right .cart span {

  text-align: center;
}

.topnav-right .cart i {

  position: absolute;
  z-index: 1;
  top: -2px;
  left: 10px;
  font-size: 30px;
}

/* tab栏 */

.tab {

  height: 100px;
}

.tab-logo {

  display: block;
  float: left;
  width: 55px;
  height: 55px;
  margin-top: 22px;
  background-color: #ff6700;
  background-image: url(../images/mi-logo.png);
  background-position: center center;
}

.tab-text {

  float: left;
  margin-left: 154px;
}

.tab-text li {

  float: left;
  line-height: 100px;
  font-size: 17.6px;
  margin-right: 26px;
}

/* 搜索框 */
.tab-search {

  position: relative;
  float: right;
  width: 296px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-top: 22px;
}

.tab-search span {

  position: absolute;
  background-color: #eeeeee;
  padding: 2px;
}

.tab span:first-child {

  top: 16px;
  left: 70px;
}

.tab span:nth-child(2) {

  position: absolute;
  top: 16px;
  left: 154px;
}

.tab-search button {

  position: absolute;
  width: 52px;
  height: 51px;
  border: none;
  right: 0;
  top: 0px;
  font-size: 22px;
  transition: all 1;
}

.tab-search button:hover {

  transition: all 1;
  background-color: #ff6700;
  color: #eeeeee;
}

/* banner区域 */
.banner {

  position: relative;
  height: 460px;
}

.banner-phone img {

  width: 100%;
}

/* 选择列表 */
.banner-select {

  position: absolute;
  top: 0;
  left: 0;
  width: 234px;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner-select ul {

  width: 174px;
  margin: 20px 0;
}

.banner-select ul li {

  height: 42px;
  line-height: 42px;
}

.banner-select ul li i {

  float: right;
}

.banner-select ul li a {

  width: 174px;
  display: block;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.banner-select ul li a i {

  color: #e0e0e0;
}

.banner-select ul li a:hover {

  background-color: #ff6700;
}

/* 轮播图小圆点 */
.banner-point {

  position: absolute;
  bottom: 20px;
  right: 35px;
}

.banner-point a {

  float: left;
  width: 6px;
  height: 6px;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  background-color: #667d81;
  margin: 0 3px;
}

.banner-point a:hover {

  border: 2px solid #b1b1b1;
  background-color: #fff;
}

/* 小米秒杀 */
.miaosha .container {

  width: 1228px;
}

.miaosha {

  margin-top: 14px;
}

.miaosha-fma {

  float: left;
  width: 234px;
  height: 170px;
  background-color: #5f5750;
}

.miaosha-fma ul {

  padding-left: 10px;
}

.miaosha-fma ul li {

  float: left;
  width: 70px;
  height: 56px;
  border: 1px solid #665e57;
  text-align: center;
  padding-top: 22px;
  margin-left: -1px;
}

.miaosha-fma ul li a,
.miaosha-fma ul li a span {

  display: block;
  color: #bcb9b6;
}

.miaosha-fma ul li a span {

  margin-top: 3px;
}

.miaosha-fma ul li a span:hover {

  color: #ffffe3;
}

.miaosha-fma ul li a img {

  width: 24px;
  height: 24px;
}

.miaosha-fma ul li {

  border-bottom: none;
}

/* 小米手机秒杀 1,2,3 */
.miaosha-msw li {

  float: left;
  width: 316px;
  height: 170px;
  margin-left: 15px;
}

.miaosha-msw li a {

  display: block;
  width: 316px;
  height: 170px;
}

.miaosha-msw li a img {

  width: 100%;
}